label[for="files"] {
	font-size: larger;
    padding: 4px;
    border: 2px solid #607D8B;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
}

button[type="button"] {
	color: #fff;
	background-color: #607D8B;
	border: 1px solid white;
	height: 37px;
	width: 150px;
	border-radius: 8px;
	font-size: larger;
}

button[type="button"]:active {
	border: 3px solid #8BC34A;
}

select {
	font-size: 16px;
	padding: 5px;
	border: 2px solid #607D8B;
	border-radius: 8px;
}

.-hidden {
	display: none !important;
}

.-center {
	text-align: center
}

.-filename {
	color: #505050;
	font-size: 18px;
}

.-success {
	color: darkgreen;
    font-size: 18px;
}

.-error {
	color: red;
	font-size: 18px;
}